* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

.keyboard {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  background: #b9d4af;
  gap: 0.6vw;
  height: 55vh;
  position: fixed;
  bottom: 0;
  justify-content: space-evenly;
  align-items: center;
}

.textholder {
  width: 100%;
  top: 0;
  height: 45vh;
  color: #50624a;
  font-size: 2em;
  resize: none;
}

.textholder:focus {
  outline: none;
}

.key {
  height: 10vh;
  background: #4d5d60;
  color: white;
  text-align: center;
  vertical-align: baseline;
  align-items: center;
  font-size: 2em;
  user-select: none;
  transition: all 0.1s;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  position: relative;
}

.keyTextAdded {
  position: absolute;
  font-size: 1em;
  top: 5%;
  left: 10%;
  color: lightgray;
}

.key.active {
  background: #6ea7e9;
}

@media (max-width: 1310px) {
  .key {
    font-size: 1em;
    height: 6vh;
  }
  .keyTextAdded {
    font-size: 0.5em;
  }
  .keyboard {
    height: 35vh;
  }
  .textholder {
    height: 65vh;
  }
}
